div.serif {
	 font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div.sans-serif {
	 font-family:Arial, Helvetica, sans-serif, sans-serif;
}

div.monospace {
	 font-family: "Courier New", Courier, monospace;
}

div.cursive {
	 font-family: "Comic Sans MS",cursive;
}
div.fantasy {
	 font-family: fantasy;
}

body {
	  background-color: #FFFFFF;
	  color:#000000;
      }
	  
div.maindiv {
	max-width:560px;
	border:solid 1px;
}

div.leftdiv {
   position:relative; 
   float:left; 
   max-width:160px;
   border:solid 1px;   
}


.f08 {
	font-size:80%;
}
.f09 {
	font-size:90%;
}
.f10{
	font-size:100%;
}
.f11{
	font-size:110%;
}
.f12{
	font-size:120%;
}
.f13{
	font-size:130%;
}
h1 {
	color: #00137f;
}
h2 {
	color: #00137f;
}
h3{
	color: #00137f;
}
var {
	color: #0025ff;
	font-weight:bold;
}
tt {
	font-size:110%;
}
b.dblue {
	color: #00008B;
}
b.orange {
	color: #FF6a00;
}
b.red {
	color: #FF0000;
}
b.dgreen {
	color: #007F0E;
}
b.blue {
	color: #8496ff;
}
b.green {
	color: #00FF21;
}
b.grey {
	color: #505050;
}
b.grey1 {
	color: #909090;
}

span.menu {
	color: black;
	background-color :#b0b0b0;
	font-family:arial;
	font-weight:bold;
}
span.propertie {
	color:#00008B;
}

span.tkeybd {
	color:#007F0E;
}
