 table.c5 {page-break-before: always}
       p.c4 {background: #ccccff; text-align: center}
       p.c3 {text-align: center}
       p.c2 {font-weight: bold; text-align: center}
       p.c1 {background: transparent; font-weight: bold; text-align: center}
	   
div#menu {
	float:left;
	width:200px;
/*	height:100%; */
	background-color:#8888FF;
	}
div#fond {
	height:100%;
	background-color:#CCCCFF;
	}
div.elmenu {
	text-align: center;
	vertical-align:middle;
	background-color:#8888FF;
	height:100px;
	border-width: 1px;
	border-style: solid;
	}
a.elmenu {
    height:100px;
	width:75px;
	}
span.elmenu{
	color: rgb(0, 0, 102);
	}