*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.con{
    width: 22%;
    display: flex;
    flex-direction: column;
}

.card2{
    width: 100%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
}